.inner-container{
    gap: 1.5rem;
    background: rgb(78, 78, 227);
    padding: 2rem;
    border-radius: 20px;
    border: 3px solid #5d77d6;
    text-align: center;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inner-container .secondaryText{
    color: rgb(233, 244, 244);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inner-container .button{
    background: #5a73d7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;
}